.parent-tb {
  background-color: #36aad9;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.places {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.places span {
  display: flex;
  gap: 5px;
}
footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  gap: 10px;
}
