.navbarr-var {
  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
}
.navbarr {
  display: flex;
  width:100vw;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* gap: 150px; */
}
.Onboard {
  width: 100%;
  padding: 0;
  margin: 0;
}
.notss{
  font-size: 25px;
  color: #4c4c4c;
}
.nots{
  font-size: 25px;
  color: #4c4c4c;
}
.onboardlogo {
  width: 6rem;
  height: 1.8rem;
}
.onboard-input {
  width: 100%;
  border-radius: 10px;
  height: 1.4rem;
  outline: none;
  background-color: #ebebeb;
  border: none;
  font-weight: 300;
  font-size: 12px;
}
.text-search{
  width: 90%;
}
.inputlogo {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 20px;
}
.onboardint {
  width: 30rem;
  height: 2.5rem;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: 10px;
  background-color: #ebebeb;
  gap: 7px;
}
.searchicon {
  /* width: 10%; */
  color: #919191;
  display: flex;
}
.navtwo {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  gap: 30px;
}
.nav-two {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.navthree {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-three {
  display: flex;
  gap: 3px;
  flex-direction: column;
}
.adeleke {
  font-weight: 500;
  font-size: 14px;
  color: black;
}
.ade-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #a3a3a3;
}
.pics-img {
  display: flex;
}
.picss {
  width: 40px;
}

.Dsec {
  background-image: url(./RICEBOX.png);
  display: flex;
  padding-inline: 6.1rem;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
}
.D-sec {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.welcome-food {
  font-weight: 500;
  font-size: 19px;
}
.border-meal{
  border: 1px solid white;
  width: 30%;
}
.welcome-two {
  font-weight: 500;
  font-size: 19px;
}
.hone {
  width: 70%;
  font-weight: 500;
  font-size: 32px;
}
.ricedbox {
  position: relative;
  top: 30%;
  left: 20%;
}
/* .platform-img{
  
} */
.food-platform{
  display: flex;
  width: fit-content;
  padding-top: 60px;
  flex-direction: column;
  gap: 20px;
}
.media-sp{
    display: none;
}
@media screen and (max-width: 40em) {
  .D-sec {
    width: 20rem;
    display: flex;
    color: #fff;
    gap: 10px;
  }
  .Dsec {
    display: none;
    }
  .onboardlogo {
    width: 23%;
  }
  .nots {
    display: none;
  }
  .navbarr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
  }
  .onboardint {
    width: 60%;
    height: 1.5rem;
    border: none;
    display: none;
    align-items: center;
    border-radius: 10px;
    gap: 8px;
  }
  .onboard-input {
    width: 5rem;
    border-radius: 10px;
    height: 1rem;
    outline: none;
    display: flex;
    border: none;
    font-weight: 300;
    font-size: 11px;
  }
  .inputlogo{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 10px;
  }
  .navthree{
    display: none;
  }
  .notss{
    display: none;
  }
  .searchicon{
    width: 12px;
    display: flex;
  }
  .Onboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .media-sp{
    display: block;
}
}
