.Declan-Rice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.brspo button {
  width: 6rem;
  padding-block: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.breakss {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e6e6e6;
  padding: 0.8rem;
}
.Breaks-btns {
  border: none;
  background-color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  outline: none;
  margin-bottom: -15px;
  line-height: 30px;
  cursor: pointer;
}
.Breaks-btns:disabled {
  color: #36aad9;
  border-bottom: 3px solid #36aad9;
  /* width: fit-content; */
  /* margin */
}
.categories {
  display: flex;
}
.itemenu-map {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: scroll;
  height: 25rem;
}
