.ni {
  display: flex;
}
/* .back-img {
  background-image: url(../assets/images/backimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
} */
.select-parent {
  padding: 20px 55px;
  padding-bottom: 4rem;
  display: flex;
  /* height: 100vh; */
  background: #ededed;
  justify-content: space-between;
}

.father-one {
  display: flex;
  gap: 13px;
  width: 100%;
}
.ordertype-two {
  width: 100%;
}
.default-order {
  padding-inline: 25px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-block: 10px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}
.special-order {
  padding-inline: 25px;
  padding-block: 10px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
.order-btn {
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
}
.order-type {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
/* .fatherss {
  background: #ededed;
  height: 140%;
} */
.ordertime {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 45%;
}
.countdow-holder {
  background-color: #36aad9;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
}
.may8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 7px;
  width: 3rem;
  border-radius: 10px;
}
.mayy {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}
.may {
  border-top: 1px solid black;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.deadline {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.timee {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  border-top: 1px solid white;
  color: white;
}
.deadline-text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.after-nav {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 60%;
}

.ORDER-POPS {
  background-color: white;
  border-radius: 10px;
  padding: 20px 15px;
  height: fit-content;
  width: 35%;
}
.ORDERS-HOLDER {
  background-color: white;
  border-radius: 10px;

  border: 1px solid #e6e6e6;
}
.ORDER {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  border-bottom: 1px solid #e6e6e6;
}
.MAMAJ-ORDER {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
.ORDER-MAMAJ {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.serv-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35rem;
}
.serv-foods {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  height: 35rem;
  padding: 1rem;
}
.serv-foods img {
  width: 5.5rem;
}
.Item-name {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
  width: 60%;
  height: fit-content;
}
.Item-name p {
  margin: 0;
  padding: 0;
  /* width: 100px; */
}
.item-map {
  width: 26rem;
  height: fit-content;
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
  border: 1px solid #7777;
  border-radius: 0.3rem;
}
.NO-ITEMS {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #36aad9;
}
.MADE-ORDER {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #a3a3a3;
}
.cash-back {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #a3a3a3;
  padding: 5px;
  width: 70%;
  box-shadow: 0px 0px 2px #81cae7;
  border: none;
  border-radius: 0.4rem;
  background-color: transparent;
  outline: none;
  /* padding-inline:10px ; */
}

.cash-back::placeholder {
  color: #ccc;
}
.one-thousand {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #078c1c;
}
.Order-btn {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 10px;
}
.order-int {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #81cae7;
  padding: 5px;
}
.proceed-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;
  background: #86cce8;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 40em) {
}
