.navbarr-var {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.navbarr {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ebebeb;
  /* border: 2px ; */
}
.Onboard {
  width: 100%;
  position: relative;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
}
.notss {
  cursor: pointer;
  font-size: 25px;
  color: #4c4c4c;
}
.nots {
  cursor: pointer;
  font-size: 25px;
  color: #4c4c4c;
}
.onboardlogo {
  width: 6rem;
  height: 1.8rem;
}
.onboard-input {
  width: 100%;
  border-radius: 10px;
  height: 1.4rem;
  outline: none;
  background-color: #ebebeb;
  border: none;
  font-weight: 300;
  font-size: 12px;
}
.text-search {
  width: 90%;
}
.inputlogo {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 20px;
}
.onboardint {
  width: 30rem;
  height: 2.5rem;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: 10px;
  background-color: #ebebeb;
  gap: 7px;
}
.searchicon {
  /* width: 10%; */
  color: #919191;
  display: flex;
}
.navtwo {
  display: flex;
  /* width: 50%; */
  /* justify-content: flex-end; */
  gap: 30px;
}
.nav-two {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.navthree {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-three {
  display: flex;
  gap: 3px;
  flex-direction: column;
}
.adeleke {
  /* font-weight: 500; */
  display: flex;
  gap: 3px;
  font-size: 14px;
  color: black;
}
.ade-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #a3a3a3;
}
.pics-img {
  display: flex;
  /* border: 1px solid red; */
}
.picss {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10rem;
}

.media-sp {
  display: none;
}
/* second line styling */
.welcome-food {
  color: #36aad9;
  padding-left: 10px;
  font-weight: 500;
  font-size: 20px;
  border-left: 0.13rem solid #36aad9;
}
.D-sec {
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  /* height: 15rem; */
}
.food-platform {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  gap: 10px;
  width: 40%;
}

.foodesk {
  width: 35%;
  /* border: 1px solid red; */
}
.foodesk img {
  width: 100%;
}
.hone {
  margin: 0;
}
.tasty-meal {
  padding-left: 10px;
  font-weight: 600;
  font-size: 23px;
  border-left: 0.13rem solid #36aad9;
}
.anytime {
  font-size: 17px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 20px;
  border-left: 0.13rem solid #36aad9;
}
.taste-anytime {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.Delicious-food {
  font-size: 15px;
  color: #777777;
  padding-left: 10px;
  font-weight: 500;
  font-size: 17px;
  border-left: 0.13rem solid #36aad9;
}
.vendor-search {
  border: 1px solid#DDDDDD;
  width: 70%;
  padding: 5px;
  justify-content: space-between;
  display: flex;
  border-radius: 10px;
}
.vendor-search input {
  /* background-color: red; */
  padding: 7px;
  width: 80%;
  border: none;
  outline: none;
}
.vendor-search button {
  padding-inline: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  background-color: #36aad9;
}
.peter-expense {
  padding: 0 2rem;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.peter-welcome {
  font-weight: 600;
  font-size: 18px;
  display: flex;
}
.peter-welcome img {
  width: 1.3rem;
  padding-left: 15px;
}
.bal-expense {
  font-size: 13px;
  color: #777777;
}
.ubalance-div {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.ubalance-sec {
  border: 1px solid #dddddd;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  width: 34%;
}
.ubalance-tran {
  border: 1px solid #dddddd;
  border-radius: 10px;
  width: 62%;
  padding: 10px;
}
.rec-view {
  display: flex;
  justify-content: space-between;
}
.view-icn {
  display: flex;
  font-size: 15px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.rec-trn {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
}
.total-ubalc {
  display: flex;
  justify-content: space-between;
}
.right-arw {
  display: flex;
  font-weight: 600;
  font-size: 16px;
}
.ubalc-button {
  background: linear-gradient(308.86deg, #ffffff -7.25%, #36aad9 27.69%);
  border: none;
  outline: none;
  padding: 0.4rem;
  border-radius: 0.4rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
}
.baley-btn {
  color: #919191;
  display: flex;
  font-size: 20px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  /* background-color: white; */
}
.fund-wallet {
  padding: 0.4rem;
  color: white;
  width: 6rem;
  background-color: #36aad9;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.4rem;
}
.total-baley {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.mapped-tbl {
  font-size: 15px;
  padding-block: 0.4rem;
  width: 100%;
  border-collapse: collapse;
}
.aug-month {
  font-size: 13px;
  font-weight: 400;
}
.date-t {
  font-size: 14px;
}

tr {
  height: 40px;
  border-collapse: collapse;
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-name {
  font-weight: 600;
  width: 20%;
}
.t-amount {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  color: green;
  width: 20%;
}
.t-dnum {
  display: flex;
  gap: 5px;
  font-weight: 600;
  /* width: 10%; */
}
.d-idfort {
  color: #00000080;
}
.date-sec {
  display: flex;
  flex-direction: column;
  background-color: #a3a3a3;
  padding: 0.2rem 0.4rem;
  text-align: center;
  border-radius: 6px;
  font-size: 13px;
  width: 5%;
}
.d-outcome {
  color: white;
  width: 15%;
  display: flex;
  justify-content: center;
  border-radius: 0.4rem;
  padding: 0.4rem;
}
.d-outcome button {
  width: 5rem;
  font-weight: 500;
  border: none;
  outline: none;
  color: white;
  border-radius: 0.4rem;
  padding: 0.4rem;
}
.border-meal {
  width: 5rem;
  border: 1px solid #36aad9;
}
@media screen and (max-width: 40em) {
  .D-sec {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 10px;
  }
  .Dsec {
    display: none;
  }
  .onboardlogo {
    width: 23%;
  }
  .nots {
    display: none;
  }
  .food-platform {
    padding: 0 0 0 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .foodesk {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
  }
  .foodesk img {
    width: 100%;
  }
  .desk-food {
    width: 60%;
  }
  .Delicious-food {
    font-size: 14px;
  }
  .welcome-food {
    font-size: 14px;
  }
  .navbarr {
    display: flex;
    box-sizing: border-box;
    background-color: #36aad9;
    padding: 0.6rem;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    position: relative;
  }
  .vendor-search {
    display: none;
  }
  .onboardint {
    width: 60%;
    height: 1.5rem;
    border: none;
    display: none;
    align-items: center;
    border-radius: 10px;
    gap: 8px;
  }
  .onboard-input {
    width: 5rem;
    border-radius: 10px;
    height: 1rem;
    outline: none;
    display: flex;
    border: none;
    font-weight: 300;
    font-size: 11px;
  }
  .inputlogo {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 10px;
  }
  .navthree {
    display: none;
  }
  .notss {
    display: none;
  }
  .searchicon {
    width: 12px;
    display: flex;
  }
  .Onboard {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .media-sp {
    display: block;
  }
}
