.prod-padd {
  padding: 2rem 4rem;
  height: 100vh;
  background-color: #ededed;
}
.back-img {
  background-image: url(../assets/images/backimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 7.3rem;
}
.backicon {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.Welcomepeter {
  display: flex;
  flex-direction: column;
  color: white;
  /* font-weight: 500; */
}
.ade-image {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  font-weight: 400;
  color: white;
}
.Papawelcome {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 10rem;
}
.pics-change-delete {
  display: flex;
  border: 1px solid #ececec;
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
  padding: 10px;
  /* width: 100%; */
}
.picdelsel {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  border-radius: 0 0 10px 10px;
}
.firstandlast {
  width: 100%;
  display: flex;
}
.picdel {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 50%;
}
.edits {
  display: flex;
  /* background-color: red; */
}

.ade-leke {
  font-size: 14px;
  font-weight: 500;
}
.dpicssect {
  background-color: white;
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.image-profine {
  border-right: 1px solid #ececec;
  padding-inline: 50px;
  display: flex;
  align-items: center;
}
.changeprofiles {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #a3a3a3;
  font-size: 12px;
  font-weight: 400;
  padding-inline: 50px;
  /* width: 30%; */
}
.prof-pics {
  display: flex;
  cursor: pointer;
  gap: 10px;
  border: 1px solid #ececec;
  padding: 10px;
  border-radius: 10px;
}
.hipeter {
  font-size: 20px;
  font-weight: 400;
}
.welcomepeter {
  font-size: 13px;
}
.firstnamelabel {
  font-size: 13px;
  font-weight: 400;
  color: #a3a3a3;
}
.edit-prof {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: white;
  width: 30%;
  border-radius: 10px;
  background-color: #36aad9;
  padding: 9px 70px;
  cursor: pointer;
}
.prof-butdiv {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
}
.deleke {
  display: flex;
  /* border-bottom: 1px solid #ececec; */
  justify-content: space-between;
}
.deleke button {
  /* width: 30px; */
  border: none;
  background-color: white;
  color: #acacac;
}
.deleke input {
  outline: none;
  border: none;
}
