.navbar {
  display: flex;
  background-color: white;
  justify-content: flex-end;
  padding: 1rem 2rem;
  border-left: 1px solid #ececec;
}
.notifyx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
}
.notifyme {
  font-size: 18px;
  font-weight: 500;
}
.notifydel {
  font-size: 20px;
  color: #36aad9;
  background: none;
  border: none;
  height: 2rem;
}
.dart {
  font-display: none;
}
.dart {
  display: none;
}
/* @media screen and (max-width:40em) {
  .inputlogo{
    display: none;
  }
  .nots{
   display: none;
  }
  .navthree{
    display: none;
  }
  .navtwo{
    display: flex;
    align-items: center;
    gap: 2px;
  }
  .navbar{
    width: 100vw;
    padding:5px ;
    background-color: #36aad9;
  }
  .media-logo{
    width: 55px;
  }
  .media-dash{
    color: white;
    font-size: 20px;
  }
  .dart{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
} */
