.Breakfast-div {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}
.breakfast-cont {
  display: flex;
  /* justify-content: space-between; */
  gap: 180px;
  padding: 10px;
  align-items: center;
  border-bottom: 4px solid #e6e6e6;
}

.breakfast-sect {
  padding: 0.7rem;
}
.Yam-Cont {
  display: flex;
  align-items: last baseline;
  border: 1px solid #ececec;
  border-radius: 10px;
  padding: 10px;
}
.Yam-Conts {
  display: flex;
  align-items: last baseline;
  gap: 50px;
  border: 1px solid #ececec;
  border-radius: 10px;
  padding: 10px;
}
.Yam-Contss {
  display: flex;
  align-items: last baseline;
  gap: 54px;
  border: 1px solid #ececec;
  border-radius: 10px;
  padding: 10px;
}
.dis-cont {
  width: 10rem;
  height: 5rem;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
}
.yamcont {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dis-conts {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.yamconts {
  display: flex;
  align-items: center;
  gap: 10px;
}
.yamndegg {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.discount {
  background: #d7eef7;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #158dbe;
  padding: 3px;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plusicon {
  background-color: #d7eef7;
  color: #158dbe;
  border-radius: 7px;
  display: flex;
  align-items: center;
}
.naira6 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.Yam-img {
  width: 100px;
}
.cancel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #ECECEC; */
}
.Canc-line {
  border: none;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 10px;
}
.father-two {
  background-image: url(../assets/images/bukkataste.png);
  background-repeat: no-repeat;
  margin: 1rem 0;
  border-radius: 1rem;
  /* background-position: center; */
  /* background-size: cover; */
}
.exceptional {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.fathertwo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mamj {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}
.xeptional {
  /* font-family: "DM Sans"; */
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #3c3c3c;
}
.taste {
  padding: 5px 1rem;
  border-radius: 5px;
  /* background-color: #4da4c7fb; */
  background-image: linear-gradient(to right, #4da4c7fb, transparent);
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  /* border: 1px solid #36aad9; */
}
.housevend {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
}
.vends {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.point49 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.taste-line {
  display: flex;
  align-items: center;
  gap: 5px;
}
.mamaj-input {
  border: 3px solid rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  padding: 6px;
  display: flex;
  color: rgba(0, 0, 0, 0.35);
  /* font-size: 15px; */
  background-color: white;
  align-items: center;
  padding-left: 15px;
}
.mamajinput {
  padding: 3px;
  width: 37rem;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.35);
  /* color: #3c3c3c; */
  /* background-color: #ededed; */
}
