.navbar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  /* border-left: 1px solid #ececec; */
}
.notifyx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
}
.notifyme {
  font-size: 18px;
  font-weight: 500;
}
.notifydel {
  font-size: 20px;
  color: #36aad9;
  background: none;
  border: none;
  height: 2rem;
}
.dart {
  font-display: none;
}
.dart {
  display: none;
}
.drop-ss {
  background: white;
  border-radius: 0.3rem;
  position: absolute;
  top: 109px;
  right: 55px;
  box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 40em) {
  .navbar {
    /* width: 100vw; */
    padding: 1rem;
    background-color: #36aad9;
  }
  .web-logo {
    display: none;
  }
}
