.Dspoon{
display: flex;
border: 1px solid #84cbe7;
padding: 10px;
border-radius: 10px;
justify-content: space-between;
align-items: center;
}
.Spoons{
display: flex;
gap: 10px;
}
.en-default{
 display: flex;
 flex-direction: column;
}
.spoon-img{
    width: 15%;
}
.thesect{
    padding: 20px;
}
.defalt{
    font-size: 15px;
    font-weight: 500;
}
.defat{
    font-size: 12px;
}
.dfalticon{
    font-size: 30px;
    color: #84cbe7;
}